.adddd{
    margin-left:8%;
    display : center;
    justify-content: space-around;
}

.text{
    padding-top: 2% ;
    padding-bottom: 5%;
    padding-right: 10%;
}

.page{
    .page{
        width : 1349px ;
        height : 1100px; 
    
    
    }

.imaa{
    padding-bottom: 7% ;
}

.twolines{
    padding-top:4%;
}
}